<!--
    The form for changing your password when already logged in to account
    Redirects to password_change_done.html page when successful
-->
{% extends "longclaw/account/account_base.html" %}

{% block content %}
<h1>Password reset complete</h1>
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{field.errors}}
            {{field.label_tag}} {{field}}
        </div>
    {% endfor %}
    <div class="action-buttons">
        <input class="button" type="submit" value="Submit">
        <a  class="button" href="{{account_details_url}}">Cancel</a>
    </div>
</form>
{% endblock content %}