* {
    box-sizing: border-box;
}

form {
    max-width: 400px;
    width: 100%;
}

label, input {
    display: inline-block;
    width: 100%;
}

label {
    line-height: 2em;
}

input {
    padding: 8px;
}

input[type='checkbox'], input[type='submit'] {
    width: auto;
}

select {
    padding: 8px;
    appearance: none;
}

.form-row {

}

.form-row:not(:last-of-type) {
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    margin: 15px 0;
}

.action-buttons >* {
    display: inline-block;
}

.action-buttons >*:not(:last-child) {
    margin-right: 15px;
}

.button {
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background-color: #eeeeee;
    text-decoration: none;
    font-family: inherit;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
}

/* Table details */
table {
    text-align: left;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
}

table th {
    border-collapse: separate;
    border: 2px solid black;
    background-color: gainsboro;
}

table td {
    border: 2px solid darkgrey;
    background: whitesmoke;
}



/* Account Nav */
ul.account-nav {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
}

ul.account-nav li a {
    padding: 8px;
}

