<!--
    The main hub for the account, has summary views and links to various things,
    i.e. account details, subscription details, payment settings
-->
{% extends "longclaw/account/account_base.html" %}

{% block content %}
<h1>Account landing page</h1>

{% include 'longclaw/account/account_details_table.html' %}

{% comment %} 
<h3>Subscriptions</h3>
<div>
    <ul>
        {% for subscription in subscriptions %}
        
        {% endfor %}
    </ul>
</div> 
{% endcomment %}

{% include 'longclaw/account/account_nav.html' %}
{% endblock content %}