<!--
    The password reset link via email has been found and clicked, so this page is shown.
    Contains the password reset form for setting a new password (2 password fields).
    Will redirect to the password_reset_confirmation.html page if successful
-->
{% extends "account/account_base.html" %}

{% block content %}
<h1>Password reset confirm</h1>
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{field.errors}}
            {{field.label_tag}} {{field}}
        </div>
    {% endfor %}
    <div class="form-row">
        <input clas="button" type="submit" value="Submit">
    </div>
</form>
{% endblock content %}