<!-- 
    The initial view to start the password reset process
    Has a form with a field for an email that will be sent to reset the password
-->
{% extends "account/account_base.html" %}

{% block content %}
<h1>Password reset</h1>
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
            {{field.errors}}
            {{field.label_tag}} {{field}}
        </div>
    {% endfor %}
    <div class="form-row">
        <input class="button" type="submit" value="Submit">
    </div>
</form>

{% include 'account/account_nav.html' %}
{% endblock content %}
