<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Username</td>
            <td>{{request.user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{request.user.email}}</td>
        </tr>
        <tr>
            <td>Active</td>
            <td>{{request.user.is_active}}</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>{{request.user.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{request.user.last_name}}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{request.user.account.name}}</td>
        </tr>
        <tr>
            <td>Shipping address</td>
            <td>{{request.user.account.shipping_address}}</td>
        </tr>
        <tr>
            <td>Billing address</td>
            <td>{{request.user.account.billing_address}}</td>
        </tr>
        <tr>
            <td>Billing same as shipping</td>
            <td>{{request.user.account.shipping_billing_address_same}}</td>
        </tr>
    </tbody>
</table>