<!--
    Page for viewing account specific details, e.g. addresses, subscription status or whatever
-->
{% extends "account/account_base.html" %}

{% block content %}
<h1>Account details page</h1>

{% include 'account/account_details_table.html' %}

<div class="form-row__inline">
    <a class="button" href="{{account_details_edit_url}}">Edit details</a>
    <a class="button" href="{{change_password_url}}">Change password</a>
</div>


{% comment %} 
<h3>Subscriptions</h3>
<div>
    <ul>
        {% for subscription in subscriptions %}
        
        {% endfor %}
    </ul>
</div> 
{% endcomment %}

{% include 'account/account_nav.html' %}
{% endblock content %}