<!--
    Contains all fields relevant to signing up for an Account
    email, password, address, ...etc
-->
<h1>Signup page</h1>

<form action="." method='post'>
{% csrf_token %}
{{user_form.errors}}
{{user_form.as_p}}

<div id="shipping-address-fields">
    <h3>Shipping address</h3>
    {{shipping_address_form.errors}}
    {{shipping_address_form.as_p}}
</div>

<p>
    <label for="shipping_billing_address_same">Same billing address</label>
    <input type="checkbox"{% if shipping_billing_address_same %} checked{% endif %} name="shipping_billing_address_same" id="shipping_billing_address_same">
</p>

<div id="billing-address-fields"{% if shipping_billing_address_same %} hidden{% endif %}>
    <h3>Billing address</h3>
    {{billing_address_form.errors}}
    {{billing_address_form.as_p}}
</div>
<input type="submit" value="Submit">
</form>

{% include 'account/account_nav.html' %}


<script>
var shipping_billing_address_checkbox = document.getElementById('shipping_billing_address_same');
var billing_address_fields_container = document.getElementById('billing-address-fields');

// Hide/show billing address fields if checkbox checked
shipping_billing_address_checkbox.addEventListener('change', function(e) {
    if (this.checked) {
        billing_address_fields_container.setAttribute('hidden', '');
    } else {
        billing_address_fields_container.removeAttribute('hidden');
    }
});
</script>

{% if form.recaptcha %}
<script>
console.log('do recaptcha stuff');
</script>
{% endif %}